<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <header> 
        <div class="container-fluid">
            <div>
                <a href="/"><img class="logo"src="/img/logo.png" alt="logo"></a>
            </div>
            <nav class="header-navbar">
              <div class="boton-magico">       
                <button class="btn btn-primary" id="magic-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars" id="hamb-icon"></i></button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel"><a href="../products/canchas">Canchas</a></h5><br>                        
                        <button type="button" class="btn btn-outline-light"><a href="../products/crear-equipo">Crear Equipo</a></button>                        
                    </div>
                </div>
              </div>     
              <ul class="menu-navbar">
                  <li><a href="../products/canchas">Canchas</a></li>
                  <button type="button" class="btn btn-outline-light"><a href="../products/crear-equipo">Crear Equipo</a></button>
              </ul>                
            </nav>
        </div>    
    </header>

    <section class="cuerpo-home">
        <div class="banner-equipo">        
            <h3>
                MI USUARIO
            </h3>
        </div>
    </section>
    <section class="registro-cuerpo" id="registro-fondo">       
        <div class="registro-formulario">
            <form action="/users/usuario" method="POST">
                <div class="mb-3">
                    <img src="/img/img-users/<%= user.fotoPerfil %>" class="card-img-top" alt="Foto Equipo">
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <label for="nombre" class="form-label"><%= user.nombre %></label>
                </div>
                  <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido:</label>
                    <label for="apellido" class="form-label"><%= user.apellido %></label>
                  </div>
                  <div class="mb-3">
                      <label for="dni" class="form-label">Dni:</label>
                      <label for="dni" class="form-label"><%= user.dni %></label>
                    </div>
                    <div class="mb-3">
                        <label for="fechaDeNacimiento" class="form-label">Fecha de nacimiento:</label>
                        <label for="fechaDeNacimiento" class="form-label"><%= user.fechaDeNacimiento %></label>
                    </div>
                    <div class="mb-3">
                        <label for="genero" class="form-label">Género:</label>
                        <label for="genero" class="form-label"><%= user.genero %></label>                        
                    </div>            
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <label for="email" class="form-label"><%= user.email %></label>
                    </div>               
                    <a href="/users/editar-users/<%= user.id%>" class="btn btn-primary">EDITAR</a>
            </form>            
        </div> 
    </section>
    <%- include('../partials/footer') %>
</body>
</html>