<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <header> 
        <div class="container-fluid">
            <div>
                <a href="/"><img class="logo"src="/img/logo.png" alt="logo"></a>
            </div>
            <%- include('../partials/navbar') %>
        </div>    
    </header>
    <section>
        <div class="banner-carrito">
            <h3>
                TU TURNO SOLICITADO
            </h3>
            <a href="canchas" class="boton-volver-reservas">Volver a la reserva</a>
        </div>
    </section>
    
    <section class="carrito-compras">       
            <div class="container">
              <div class="row">
                    <div class="col-9">Reserva</div>
              </div>                
            </div>
    </section>
    <section>
        <div class="container">
            <div class="row" id="cuerpo-carrito">
                <div class="col-9">
                    <img src="/img/img-equipos/<%= equi.img_equipo %>" class="imagen-carrito" alt="imagen de cancha">
                        <div class="reserva-fecha">
                            <p id="p-mobile"> <%= equi.nombre_equipo %> </p>
                            <p id="p-web"> <%= equi.nombre_equipo %> 
                            <form>
                                <input class="dates-canchas" type="date" name="fecha-cancha1"  min="<%= moment().format('YYYY-MM-DD') %>" max="<%= moment().add(1, 'month').format('YYYY-MM-DD') %>">
                            </form> </p>
                            <div class="campos-canchas">
                                <label for="formGroupExampleInput2" class="form-label horario-canchas label-canchas">Horario:</label>
                                <select class="form-control inputs-canchas">
                                    <option value="18:00hs" selected>18:00hs</option>
                                    <option value="19:00hs">19:00hs</option>
                                    <option value="20:00hs">20:00hs</option>
                                </select>
                            </div>
                        </div> 
                </div>
                <div class="col-1">
                    <label for="equipo" class="form-label">
                        Selecciona tu equipo
                    </label><br>
                    <select id="equipo" name='equipo' >
                        <% for( let a of e ) { %>
                            <div class="mb-3">
                                <option value="<%= a.id  %>"> 
                                    <%= a.equipo.nombre_equipo %>
                                </option>
                            </div>
                        <% } %>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <section class="btn-confirmar">
        <a href="../confirmacion"><button type="submit" class="btn btn-primary">CONFIRMAR</button></a>
        <div id="emailHelp" class="form-text">Al confirmar podrá ir al metodo de pago</div>
    </section>
    <%- include('../partials/footer') %> 
    
</body>
</html>