<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <header> 
        <div class="container-fluid">
            <div>
                <a href="/"><img class="logo"src="/img/logo.png" alt="logo"></a>
            </div>
            <%- include('../partials/navbar') %>
        </div>    
    </header>

    <section class="cuerpo-home">
        <div class="banner-equipo">        
            <h3>
                EQUIPOS LISTOS PARA JUGAR
            </h3>
            
        </div>
        
    </section>
    <section class="cartas-equipos" id="equipos-section">
      <% for(let objeto of ps) { %>    
      <div class="card" style="width: 18rem;">
        <a href="/products/equipo/<%= objeto.id %>">
            <span class="marcador"> 100% Asistencia <i class="fa-solid fa-handshake-angle"></i></span>
            <img src="/img/img-equipos/<%= objeto.img_equipo %>" class="card-img-top" alt="Foto Equipo">
            <div class="card-body">
              <h5 class="card-title"><%= objeto.nombre_equipo %></h5>
              <p class="card-text">
                <ul>
                    <li><i class="fa-solid fa-medal"></i> Fair Play</li>
                    <li><i class="fa-solid fa-shield"></i> Arquero imbatible</li>
                    <li><i class="fa-solid fa-person-running"></i> Todos corredores</li>
                </ul>
              </p>
              <a href="./carrito2" class="btn btn-primary">Desafiar ></a>
              <a href="/products/equipo/<%= objeto.id %>" class="btn btn-primary">Más info ></a>
            </div>
        </div>
        <% } %> 
    </section>
    <%- include('../partials/footer') %>
</body>
</html>